.DS_Store
web/node_modules
*/dist


# local env files
.env.local
.env.*.local

# Log files
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*
web/pnpm-debug.log*

# Editor directories and files
.idea
*.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
